.root {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;

  .label {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
  }

  .field {
    margin-top: 8px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;

    &::placeholder {
      color: rgba(0, 0, 0, 0.48);
    }

    &:focus {
      outline: none;
    }
  }
}
