.root {
  height: 8px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
}

.stepTwo {
  background: linear-gradient(
    90deg,
    rgba(85, 88, 250, 1) 0%,
    rgba(85, 88, 250, 1) 50%,
    rgba(0, 0, 0, 0.08) 50%
  );
}

.stepThree {
  background: #5558f5;
}

.steps {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -12px;

  .stepItem {
    display: flex;
    justify-content: space-around;
    width: 16px;
    height: 16px;
    background-color: #a6a6a6;
    border-radius: 100%;
  }

  .activeStep {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5558f5;

    .point {
      width: 3.2px;
      height: 3.2px;
      background-color: #fff;
      border-radius: 100%;
    }
  }
}

.stepsNum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;

  .num {
    font-size: 14px;
    font-weight: 400;
    color: #666;

    &:first-child {
      color: #5558f5;
    }
  }
}
