@font-face {
  font-family: "SB Sans Interface";
  src: local("SB Sans Interface"),
    url("./fonts/SBSansInterface/SBSansInterface.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "SB Sans Interface", BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba($color: #e6e6e6, $alpha: 0.6);
}
